fastapi==0.112.2
uvicorn==0.35.0
jinja2
python-multipart
pandas
openpyxl
python-dotenv
openai
requests
chromadb
redis
sqlalchemy
gTTS
SpeechRecognition
rapidfuzz
sentence-transformers
itsdangerous
python-jose[cryptography]

