fastapi==0.112.2
uvicorn==0.35.0
jinja2
python-multipart
pandas
openpyxl
python-dotenv
openai
requests
markdown
beautifulsoup4
chromadb
sentence-transformers
pypdf
python-docx
qdrant-client
redis
celery
sqlalchemy
pyngrok
gTTS
SpeechRecognition
rapidfuzz
fpdf2
pymupdf
pydantic
